* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: $color-fondo;
     font-family: $fuente-principal;
     font-size: $fuente-tamano;
     color: $color-texto;

     ul {
          list-style: none;
     }

     a {
          text-decoration: none;
          color: $color-link;
          &:hover {
               color: $color-texto;
          }
     }
     
     .container {
          margin-top: 4rem;
          .container__titulo {
               margin-top: 2rem;
               margin-bottom: 2rem;
               background-color: $color-link;
               color: $color-fondo;
               font-family: $fuente-titulos;
               font-style: oblique;
               font-size: $fuente-tamano * 2;
               text-align: center;
          }
     }
     .div__ejemplo__cover {
          background-color: turquoise;
     }
     .div__ejemplo__canciones {
          background-color: violet;
     }
}
