.error404 {
     &__titulo {
          position: relative;
          top: 25vh;
          background-color: rgb(200, 0, 0); 
          color: $color-fondo;
          font-family: 'Tourney', cursive;
          font-style: oblique;
          font-size: 2rem;
          text-align: center;
     }
     &__mensaje {
          position: relative;
          top: 30vh;
          text-align: center;
          color: $color-texto;
     }
     &__link {
          position: relative;
          top: 35vh;
          transition: all 1s ease;
          :hover {
               color: $color-texto;
               transform: translateY(-5px);
          }
          h2 {
               text-align: center;
               color: $color-link;
          }
     }
}
