// album
// album__imagen
// album__portada
// album__tapa
// album__cover
// album__fondo
// album__titulo
// album__info
// album__link
// album__cancion
// album__cancion__link

.album {
     // index
     &__portada {
          margin-bottom: 1rem;
     }
     // galería
     &__cover {
          width: 100%;
          opacity: .7;
          transition: all 1s ease;
          &:hover {
               opacity: 1;
               transform: scale(1.1, 1.1);
          }
     }
     // discos individuales
     &__tapa {
          width: 30vw;
     }
     // canciones
     .card {
          background-color: lighten($color: $color-fondo, $amount: 10);
     }
     .card-body {
          flex: 0 0 auto;
          justify-items: center;
          text-align: center;
     }
     &__imagen {
          width: 50vw;
          margin: 2rem 1rem 1rem 1rem;
          align-self: center;
     }
     &__titulo, &__info {
          color: $color-texto;
     }
     &__cancion {
          background-color: $color-fondo;
          padding: 0;
          &:hover {
               background-color: $color-link;
          }
          &__titulo {
               @include textos(($fuente-tamano * 1.1), left);
               background: $color-fondo;
               color: $color-link;
               &:hover {
                    background-color: $color-link;
                    color: $color-texto;
               }
          }
          // NO SE USA HASTA AGREGAR EL LINK / REEMPLAZADO CON LA CLASE &__titulo
          &__link {
               @include textos(($fuente-tamano * 1.1), left);
               padding: 1rem;
               display: block;
               &:hover {
                    background-color: $color-link;
               }
          }
          &__letra {
               @include textos(($fuente-tamano * .9), left);
               padding: .5rem;
          }
     }
}

// @include opacidad(10);
