// menu
// menu__logo
// menu__burger
// menu__paginas
// menu__paginas__link
// menu__paginas__link--activo
// menu__redes
// menu__redes__link

.menu {
     background-color: $color-fondo;
     &__logo {
          width: 6rem;
     }
     &__burger {
          color: rgb(200, 0, 0);
          // border-color: rgb(200, 0, 0);
          .navbar-toggler-icon {
               background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          }
          &:focus {
               box-shadow: none;
          }
     }
     &__paginas {
          .nav-item {
               padding-left: .4rem;
               padding-right: .4rem;
          }
          &__link {
               font-size: $fuente-tamano * 1.3;
               font-weight: 600;
               color: $color-link;
               transition: all .5s ease;
               &:hover {
                    color: $color-texto;
                    transform: translateY(5px); //scale(1.1);
               }
               &:focus {
                    color: $color-link-activo;
               }
          }
          &__link--activo {
               color: $color-link-activo;
          }
     }
     &__redes {
          .nav-item {
               padding-left: .4rem;
               padding-right: .4rem;
          }
          &__link {
               font-size: $fuente-tamano * 1.5;
               color: $color-link;
               transition: all .5s ease;
               &:hover {
                    color: $color-texto;
                    transform: translateY(5px); //scale(1.2, 1.2);
               }
               &:visited {
                    color: $color-link;
               }
          }
     }
}
