.volver {
     text-align: center;
     &__boton {
          font-size: $fuente-tamano * 1.3;
          font-weight: 400;
          color: $color-link;
          transition: all .5s ease;
          &:hover {
               color: $color-texto;
               transform: translateY(5px); //scale(1.1);
          }
          &:focus {
               color: $color-link;
          }          
     }
}